body {
  background-color: darkgray;
  margin-top: 25px;
}
.container-fluid {
  padding-top:5px;
}
p {
font-size:x-large;
padding-top: 25px;
}
.mdi-36px {
  font-size: 39px;
  margin-right:10px;
}
.btn {
background-color: white;
}
.padding {  
  padding-top: 35px;
}
